@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Quicksand:wght@400;700&display=swap');
/* CSS Document */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: radial-gradient(#FFF, #007FFF);
}

::selection {
  	background: #8000FF;
	color: #FFF;
}
::-moz-selection {
  	background: #8000FF;
	color: #FFF;
}

.main-container {
    background-image: linear-gradient(#0000FF, #8000FF);
    box-shadow: 0 2px 10px rgba(0, 0, 255, 0.5);
    border-radius: 25px;
    position: relative;
    margin: 100px auto;
    width: 650px;
    height: 500px;
}

.text-container {
    background-color: #FFF;
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 50%;
}

.important-text {
    color: #0000FF;
}

.bold {
    font-weight: 700;
}

.text-container h1 {
    position: relative;
    top: 10px;
    margin-bottom: 15px;
    font-family: 'Quicksand', sans-serif;
    font-size: 3em;
    text-align: center;
}

.text-container p {
    margin: 0 auto;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    text-align: center;
}

#output-btn {
    background-color: #FFFF00;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 2px 10px blue;
    position: relative;
    width: 175px;
    height: 175px;
    left: 50%;
    top: -90px;
    transform: translate(-50%);
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
}

#output-btn img {
    margin: auto;
    width: 80%;
    height: auto;
}

#output-btn:hover > img {
    width: 75%;
}

#output-btn:focus {
	outline: none;
}

#output-btn:active {
    width: 170px;
    height: 170px;
    margin-bottom: 5px;
	outline: none;
}

.output {
    background-color: #FFF;
    border-radius: 25px;
    position: relative;
    margin: 0 auto;
    padding-top: 9px;
    width: 550px;
    height: 50px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    text-align: center;
}

.placeholder {
    background-color: #FFFF00;
    border-radius: 25px;
    color: #000;
    box-shadow: 0px 2px 8px rgba(0, 0, 255, 0.5);
    position: relative;
    width: 100px;
    height: 25px;
    top: -15px;
    left: 20px;
    font-size: 0.75em;
}

.output-container-adj {
    top: -75px;
}

.output-container-obj {
    top: -50px;
}

#adjective, #object {
    position: relative;
    top: -25px;
}

@media only screen and (max-width: 650px) {
    .main-container { width: 95%; height: 575px; }
    .text-container h1 { top: 25px; margin-bottom: 25px; }
    .text-space { position: relative; line-height: 2em; }
    #output-btn { width: 150px; height: 150px; top: -75px; }
    #output-btn:active { width: 140px; height: 140px; margin-bottom: 10px; }
    .output { width: 85%; }
    .output-container-adj { margin-top: 25px; }
    .placeholder { margin-left: -25px; }
}
